.git/

# Ignore common Python and development files
**.pytest_cache
**__pycache__
*.pyc

# Ignore system and environment files
.git
.gitignore
.env
.vscode

# ignore workflow files
.github/workflows/

# Ignore test files
**/tests/
**/test_*.py

# Ignore non application files
**/old_codes/
**/documentation/
**/wiki/