[flake8]
ignore =
    D203,
    # Line break before / after binary operator
    W503, W504,
    # Long lines
    E501
    E251
    F403
    F405
exclude =
    .git,
    setup.py,
    __pycache__,
    __init__,
    env,
    app/static
max-complexity = 15
