<html>
    <head>
        <title>AdminGuard</title>
        <link rel="stylesheet" href='/static/main.css' />
    </head>
    <body>
        <h1>AdminGuard:</h1>
        <h1>Strengthening OS Security from Within</h1>
        <div>
            <button>
                <a href="generate">Hardening <br> Script Creation</a>
            </button>
            <button>
                <a href="generate">Vulnerability Scanner <br> Template Converter</a>
            </button>
        </div>
    </body>
</html>