<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <title>AdminGuard</title>
        <link rel="icon" type="image/x-icon" href="/static/img/AdminGuard.ico">
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body class="bg-dark text-white">
        <div class="mt-5">
            <h1 class="text-center">Customize STIG Rules</h1>
            <div class="container">
              <div class="d-flex justify-content-center input-group my-4 width">
                <!-- TODO: Look into implementing filtering system for rules or just scrap it and throw into backlog -->
                <!-- <input type="text" class="form-control rounded me-2" placeholder="Search">
                <select name="Severity" id="severity" class="form-control rounded me-2" onchange="checkValue(StigContentList)">
                  <option value="All" selected>All</option>
                  <option value="undefined">undefined</option>
                  <option value="Very Low">Very Low</option>
                  <option value="Low">Low</option>
                  <option value="Medium">Medium</option>
                  <option value="High">High</option>
                  <option value="Very High">Very High</option>
                  <option value="Extreme">Extreme</option>
                </select>
                <button type="button" class="btn btn-primary me-2">Search</button>
                <button type="reset" value="Reset" class="btn btn-primary me-5">Reset Filter</button> -->
              </div>
            </div>
            <form method="POST" action="" enctype="multipart/form-data">
              {% for stig_content in StigContentList %}
                <div class="mt-2 mx-5">
                  <div class="accordion">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ stig_content.vuln_id }}" aria-expanded="true" aria-controls="collapse-{{ stig_content.vuln_id }}">
                          <div class="d-flex justify-content-between w-100">
                            <div class="d-flex">
                              <p class="m-3">
                                <strong>
                                  Vulnerability ID:
                                </strong> 
                                {{ stig_content.vuln_id }} &emsp; 
                                <strong>
                                  Rule ID:
                                </strong> 
                                {{ stig_content.rule_id }} &emsp; 
                                <strong>
                                  Severity:
                                </strong> 
                                {{ stig_content.category_score }} &emsp; 
                                
                              </p>
                            </div>
                            <div class="d-flex align-items-center gap-2 px-2">
                              <strong>
                                Enable:
                              </strong> 
                              <label class="switch">
                                <input type="checkbox" name="{{ stig_content.vuln_id }}switch">
                                {# <input type="checkbox" name="{{ stig_content.vuln_id }}switch" checked> #}
                                <span class="slider round"></span>
                              </label>
                            </div>
                          </div>
                        </button>
                      </h2>
                      <div id="collapse-{{ stig_content.vuln_id }}" class="accordion-collapse collapse show" data-bs-parent="#{{ stig_content.vuln_id }}accordion">
                        <div class="accordion-body">
                          <strong>Title: </strong>
                          {{ stig_content.rule_title }}
                          <br>
                          <strong>Vulnerability Description: </strong>
                          <br>
                          {{ stig_content.rule_description|markdown }}
                          <strong>Vulnerability Fix: </strong>
                          <br>
                          {{ stig_content.rule_fix_text|markdown }}
                          
                          {% for fix_commands in stig_content.fix_commands %}
                            {% if fix_commands.replacements|length >= 1 %}
                              <hr>
                              <strong>Fields to replace: </strong>
                              <br>
                              <span>
                                Command:  
                                <code>
                                  {{ fix_commands.command }}
                                </code>
                              </span>
                              {% for fields in fix_commands.replacements %}
                                <div class="d-flex">
                                  <label for="{{ stig_content.vuln_id }}-{{ fields }}-{{ fix_commands.command }}-fix" data-fields="{{ fields }}" class="me-2 my-1">{{ fields }} :</label>
                                  <input type="text" id="{{ stig_content.vuln_id }}-{{ fields }}-{{ fix_commands.command }}" name="{{ stig_content.vuln_id }}-{{ fields }}-{{ fix_commands.command }}-fix" style="flex:1" class="my-1" />
                                </div>
                              {% endfor %}
                            {% endif %}
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
              <div class="d-flex justify-content-center my-5">
                <button type="submit" class="btn btn-primary" id="get-form-data" onclick="submitForm()">Generate Script</button>
                <script>
                  function submitForm() {
                    document.getElementById("submit").innerHTML = 
                    `<div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>`;
                    enabledRulesinput = [];
                    var stigContentList = [
                      {% for stig_content in StigContentList %}
                        "{{ stig_content.vuln_id }}"{% if not loop.last %},{% endif %}
                      {% endfor %}
                    ];
                    for (stig_content in stigContentList) {
                      checkRulesinput = [];
                      fixRulesinput = [];
                      
                      var checkbox = document.getElementsByName(stig_content.vuln_id + "switch");
                      if (checkbox.checked == true) {
                        for (fix_commands in stig_content.fix_commands) {
                          replaceDictionaryValues = {};
                          for (fields in fix_commands.replacements) {
                            userInputField = document.getElementById(stig_content.vuln_id + "-" + fields + "-" + fix_commands.command + "-fix");
                            userInputField.className += " required";
                            userInputValue = userInputField.innerHTML;
                            replaceDictionaryValues[fields] = userInputValue;
                          }
                          fixRulesinput.append(replaceDictionaryValues)
                        }
                      }
                    }
                  }
                </script>
            </form>
        </div>
    </body>
</html>

<style>
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 2.5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #4BB543;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #4BB543;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
</style>