<script>
    function submit() {
        document.getElementById("uploadform").submit();
    }
</script>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <title>AdminGuard</title>
        <link rel="icon" type="image/x-icon" href="/static/img/AdminGuard.ico">
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body class="bg-dark text-white">
        <div class="mt-5">
            <h1 class="text-center mb-5">STIG Script Generator</h1>
            
            <form id="uploadform" class="mt-5 text-left rounded" method="POST" action="" enctype="multipart/form-data" accept=".xml">
                <h1 class="text-center my-3">Upload STIG File</h1>
                <div class="d-flex flex-column">
                    <label class="mx-5 rounded my-3 text-center" for="file-input-btn">
                        <img src="/static/bootstrap-icons-1.11.1/cloud-arrow-up-fill.svg" width="250" height="250"></img>
                        <input id="file-input-btn" type="file" name="file" />
                        <br>
                        <span id="file-chosen" class="fs-3" onclick="getFileName()">No file chosen</span>
                    </label>
                    <script>
                        const fileButton = document.getElementById('file-input-btn');

                        const fileChosen = document.getElementById('file-chosen');

                        fileButton.addEventListener('change', function(){
                            fileChosen.textContent = this.files[0].name
                        })
                    </script>

                    <label class="text-white mx-5 mt-3 mb-5 rounded text-center fs-3">
                        <input type="submit" id="submit" onclick="submit();" />
                        Upload File
                    </label>
                    <script>
                        function submit() {
                            document.getElementById("uploadform").submit();
                            document.getElementById("submit").disabled = true;
                        }
                    </script>
                </div>
            </form>
        </div>
    </body>
</html>

<style>
    #uploadform {
        border: 5px solid white;
        width: 80%;
        margin: auto;
    }

    input[type="file"], input[type="submit"] {
        display: none;
    }

    label {
        border: 2px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }

    label:disabled {
        cursor: not-allowed;
        background-color: #ccc;
    }
</style>
