<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <title>AdminGuard</title>
        <link rel="icon" type="image/x-icon" href="/static/img/AdminGuard.ico">
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script>
          function submitForm() {
            const formData = new FormData();
            const fragments = {};
            let vuln_id = '';
            let enableField = null;
            let title = '';
            let fixText = '';
            let description = '';
            let checkContent = '';
    
            {% for rule in guide.stig_rule_dict.values() %}
                vulnId = '{{ rule.vuln_id }}';
                enableField = document.querySelector('input[name="{{ rule.vuln_id }}.enable"]');
                if (enableField && enableField.checked) {
                    title = document.querySelector('input[name="{{ rule.vuln_id }}.rule_title"]').value;
                    fixText = document.querySelector('textarea[name="{{ rule.vuln_id }}.rule_fix_text"]').value;
                    description = document.querySelector('textarea[name="{{ rule.vuln_id }}.rule_description"]').value;
                    checkContent = document.querySelector('textarea[name="{{ rule.vuln_id }}.check_content"]').value;
    
                    fragments[vulnId] = { title, fixText, description, checkContent };
                }
            {% endfor %}
    
            fetch('/script-generate/{{ guide_name }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(fragments)
            })
            .then(response => {
                if (response.status === 200) {
                    window.location.href = '/scriptDownload/{{ guide_name }}';
                }
            })
            .catch(error => {
                console.error('Error submitting data fragments: ', error);
            });
          }
        </script>
    </head>
    <body class="bg-dark text-white">
        <div class="mt-5">
            <h1 class="text-center mb-5">Customize STIG Rules</h1>
            <form id="stigEnableForm" method="POST" action="">
              {% for rule in guide.stig_rule_dict.values() %}
                <div class="mt-2 mx-5">
                  <div class="accordion">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ rule.vuln_id }}" aria-expanded="true" aria-controls="collapse-{{ rule.vuln_id }}">
                          <div class="d-flex justify-content-between w-100">
                            <div class="d-flex">
                              <p class="m-3">
                                <strong>
                                  Vulnerability ID:
                                </strong> 
                                {{ rule.vuln_id }} &emsp; 
                                <strong>
                                  Rule ID:
                                </strong> 
                                {{ rule.rule_id }} &emsp; 
                                <strong>
                                  Severity:
                                </strong> 
                                {{ rule.category_score }} &emsp; 
                              </p>
                            </div>
                            <div class="d-flex align-items-center gap-2 px-2">
                              <strong>
                                Enable:
                              </strong> 
                              <div class="form-check form-switch">
                                {{ form[rule.vuln_id ~ ".enable"](class_="form-check-input") }}
                              </div>
                            </div>
                          </div>
                        </button>
                      </h2>
                      <div id="collapse-{{ rule.vuln_id }}" class="accordion-collapse collapse show" data-bs-parent="#{{ rule.vuln_id }}accordion">
                        <div class="accordion-body">
                          {% set field_id = rule.vuln_id ~ ".rule_title" %}
                          <div class="d-flex">
                            <div class="flex-fill">
                              <label for="{{ field_id }}" class="col-form-label"><strong>Title: </strong></label>
                              {{ form[field_id](value=rule.rule_title, class_="form-control" ~ (" is-invalid" if form[field_id].errors else "")) }}
                              {% if form[field_id].errors %}
                                  <div class="invalid-feedback">
                                      {% for error in form[field_id].errors %}{{ error }}{% endfor %}
                                  </div>
                              {% endif %}
                            </div>
                          </div>
                          {% set field_id = rule.vuln_id ~ ".rule_description" %}
                          <div class="d-flex">
                            <div class="flex-fill">
                              <label for="{{ field_id }}" class="col-form-label"><strong>Vulnerability Description: </strong></label>
                              <br>
                              <textarea class="auto-expand form-control{{ ' is-invalid' if form[field_id].errors else '' }}" id="{{ field_id }}" name="{{ field_id }}" rows="6">{{ rule.rule_description }}</textarea>
                              {% if form[field_id].errors %}
                                  <div class="invalid-feedback">
                                      {% for error in form[field_id].errors %}{{ error }}{% endfor %}
                                  </div>
                              {% endif %}
                            </div>
                          </div>
                          {% set field_id = rule.vuln_id ~ ".rule_fix_text" %}
                          <div class="d-flex">
                            <div class="flex-fill">
                              <label for="{{ field_id }}" class="col-form-label"><strong>Vulnerability Fix: </strong></label>
                              <br>
                              <textarea class="auto-expand form-control{{ ' is-invalid' if form[field_id].errors else '' }}" id="{{ field_id }}" name="{{ field_id }}" rows="6">{{ rule.rule_fix_text }}</textarea>
                              {% if form[field_id].errors %}
                                  <div class="invalid-feedback">
                                      {% for error in form[field_id].errors %}{{ error }}{% endfor %}
                                  </div>
                              {% endif %}
                            </div>
                          </div>
                          {% set field_id = rule.vuln_id ~ ".check_content" %}
                          <div class="d-flex">
                              <div class="flex-fill">
                                  <label for="{{ field_id }}" class="col-form-label"><strong>Vulnerability Check: </strong></label>
                                  <br>
                                  <textarea class="auto-expand form-control{{ ' is-invalid' if form[field_id].errors else '' }}" id="{{ field_id }}" name="{{ field_id }}" rows="6">{{ rule.check_content }}</textarea>
                                  {% if form[field_id].errors %}
                                      <div class="invalid-feedback">
                                          {% for error in form[field_id].errors %}{{ error }}{% endfor %}
                                      </div>
                                  {% endif %}
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
              <div class="d-flex justify-content-center my-5">
                <button class="btn btn-primary" id="get-form-data" onclick="submitForm()">Generate Script</button>
              </div>
            </form>
        </div>
    </body>
</html>

<style>
  body {
    zoom: 80%;
  }

  .auto-expand {
    resize: vertical;
    overflow: auto;
  }
</style>