<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <title>AdminGuard</title>
        <link rel="icon" type="image/x-icon" href="/static/img/AdminGuard.ico">
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body class="bg-dark text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center my-3 mx-auto">Download Scripts for {{ guide_name }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="mx-5 rounded my-3 mx-md-3 text-center">
                        <img src="/static/bootstrap-icons-1.11.1/list-check.svg" width="150" height="150" class="m-5"></img>
                        <a href="{{ downloadCheckScript }}" download="{{ guide_name }}-CheckScript.sh">
                            <button class="btn btn-primary btn-lg btn-block my-3">
                                Download Check Script
                            </button>
                        </a>
                    </label>
                </div>
                <div class="col-md-6">
                    <label class="mx-5 rounded my-3 mx-md-3 text-center">
                        <img src="/static/bootstrap-icons-1.11.1/tools.svg" width="150" height="150" class="m-5"></img>
                        <a href="{{ downloadFixScript }}" download="{{ guide_name }}-FixScript.sh">
                            <button class="btn btn-primary btn-lg btn-block my-3">
                                Download Fix Script
                            </button>
                        </a>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="mx-5 rounded my-3 mx-md-3 text-center">
                        <img src="/static/bootstrap-icons-1.11.1/list-check.svg" width="150" height="150" class="m-5"></img>
                        <a href="{{ downloadManualCheck }}" download="{{ guide_name }}-ManualCheck.txt">
                            <button class="btn btn-primary btn-lg btn-block my-3">
                                Download Manual Check List
                            </button>
                        </a>
                    </label>
                </div>
                <div class="col-md-6">
                    <label class="mx-5 rounded my-3 mx-md-3 text-center">
                        <img src="/static/bootstrap-icons-1.11.1/tools.svg" width="150" height="150" class="m-5"></img>
                        <a href="{{ downloadManualFix }}" download="{{ guide_name }}-ManualFix.txt">
                            <button class="btn btn-primary btn-lg btn-block my-3">
                                Download Manual Fix List
                            </button>
                        </a>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center m-auto">
                    <a href="/">
                        <button class="btn btn-primary btn-lg btn-block my-3">
                            Home
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>

<style>

    label {
        border: 2px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }

    button {
        background-color: 3563f2;
        border: none;
        padding: 10px 25px;
        font-size: 1.2em;
        width: 300px;
        margin: 15px;
        table-layout: fixed;
        border-collapse: collapse;
    }

</style>
