<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <title>AdminGuard</title>
        <link rel="icon" type="image/x-icon" href="/static/img/AdminGuard.ico">
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body class="bg-dark text-white">
        <div class="mt-5">
            <h1 class="text-center mb-5">Customize DISA Audit file</h1>
            <form id="stigEnableForm" method="POST" action="">
              {% for vuln_id in template.template_rule_dict[0].keys() %}
                <div class="mt-2 mx-5">
                  <div class="accordion">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ vuln_id }}" aria-expanded="true" aria-controls="collapse-{{ vuln_id }}">
                          <div class="d-flex justify-content-between w-100">
                            <div class="d-flex">
                              <p class="m-3">
                                <strong>
                                  Vulnerability ID:
                                </strong> 
                                  {{ vuln_id }} &emsp; 
                                <strong>
                                Enable:
                                </strong> 
                                <div class="form-check form-switch">
                                  {{ form[vuln_id ~ ".enable"](class_="form-check-input", style="margin-top: 20px;") }}
                                </div>
                              </p>
                            </div>
                          </div>
                        </button>
                      </h2>
                      <div id="collapse-{{ vuln_id }}" class="accordion-collapse collapse show" data-bs-parent="#{{ vuln_id }}accordion">
                        <div class="accordion-body">
                          {% set rule = template.template_rule_dict[0][vuln_id].dictionary_fields.dictionary_fields %}
                          {% for field in rule.keys() %}
                            {% if rule[field] != "n/a" %}
                              {% set field_id = vuln_id ~ "."  ~ field %}
                              <div class="d-flex">
                                <div class="flex-fill">
                                  <label for="{{ field_id }}" class="col-form-label"><strong>{{ field }}: </strong></label>
                                  <br>
                                  <textarea class="auto-expand form-control{{ ' is-invalid' if form[field_id].errors else '' }}" id="{{ field_id }}" name="{{ field_id }}" rows="3">{{ rule[field] }}</textarea>
                                  {% if form[field_id].errors %}
                                      <div class="invalid-feedback">
                                          {% for error in form[field_id].errors %}{{ error }}{% endfor %}
                                      </div>
                                  {% endif %}
                                </div>
                              </div>
                            {% endif %}
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
              <div class="d-flex justify-content-center my-5">
                <button class="btn btn-primary" id="get-form-data" onclick="submitTemplateForm()">Generate Template</button>
              </div>
            </form>
        </div>
    </body>
</html>

<style>
  body {
    zoom: 80%;
  }

  .auto-expand {
    resize: vertical;
    overflow: auto;
  }
</style>