<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <title>AdminGuard</title>
        <link rel="icon" type="image/x-icon" href="/static/img/AdminGuard.ico">
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <h1>Vulnerability Scanner Template Generator</h1>
    </body>
</html>

<style>
    body {
        zoom: 80%;
    }
    
</style>